ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;background-color:#000000;background-imahe:url("mainbk.png");background-repeat:repeat;border-width:1px;border-style:none;border-color:black;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;padding:0;background-color:#dddddd;background-image:url("subbk.png");border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li:hover{
	position:relative;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;}
ul#css3menu1{
	padding:6px 6px 6px 0;display:block;font-size:0;float:right;}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1>li,ul#css3menu1 li{
	margin:0 0 0 6px;}
ul#css3menu1 ul>li{
	margin:6px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a,ul#css3menu1 a.pressed{
	display:block;vertical-align:middle;text-align:center;text-decoration:none;font:bold 12px Arial;color:#666666;cursor:pointer;}
ul#css3menu1 ul li{
	float:none;margin:0;}
ul#css3menu1 ul a{
	text-align:left;}
ul#css3menu1 li:hover>a{
	background-color:#0078ff;border-color:#F8F8F8;border-style:solid;font:bold 12px Arial;color:#ffffff;text-decoration:none;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:8px;}
ul#css3menu1 img.over{
	display:none;}
ul#css3menu1 li:hover > a img.def{
	display:none;}
ul#css3menu1 li:hover > a img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.over{
	display:inline;}
ul#css3menu1 li a.pressed img.def{
	display:none;}
ul#css3menu1 a{
	padding:8px 20px;background-color:;background-repeat:repeat;border-width:0;border-style:solid;border-color:transparent;color:#666666;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{
	background-color:#0078ff;border-style:solid;border-color:#F8F8F8;color:#ffffff;text-decoration:none;}
ul#css3menu1 li.topmenu>a{
	height:16px;background-color:;background-image:none;background-position:0 0;border-width:1px 0 0 0;border-style:solid;border-color:transparent;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:bold 14px Arial;color:#e7e5e5;text-decoration:none;text-shadow:0 1px 1px #000000;line-height:16px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu>a.pressed{
	background-color:#ffffff;background-image:url("mainbk.png");background-position:0 100%;border-style:solid;border-color:#F8F8F8;font:bold 14px Arial;color:#000000;text-decoration:none;text-shadow:0 1px 0 #FFFFFF;line-height:16px;}
ul#css3menu1 li.subfirst>a{
	border-radius:0px 0px 0 0;-moz-border-radius:0px 0px 0 0;-webkit-border-radius:0px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;}
ul#css3menu1 li.sublast>a{
	border-radius:0 0 0px 0px;-moz-border-radius:0 0 0px 0px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;}
